body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 65%;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  width: 65%;
}
td {
  font-size: 26px;
}
#top {
  color: blue;
  align: center;
}

#word {
  color: pink;
  font-size: 40px;
}

.main-text {
  color: pink;
  font-size: 20px;
  align: center;
  text-align: center;
  width: 60%;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.word-is {
  align: center;
  font-size: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 2px solid grey;
}

.conjugation {
  align: center;
  text-align: center;
  width: 60%;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.congujation-type {
}

.column {
  border: 1px solid grey;
  font-size: 26px;
}
.row {
  border: 1px solid grey;
}
