body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 65%;
}
input {
  border: 2px solid pink;
  display: block;
}
label {
  display: block;
}
table {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  width: 65%;
}
td {
  font-size: 26px;
}
#top {
  color: blue;
  align: center;
}

#word {
  color: pink;
  font-size: 40px;
}

.correct {
  color: green;
  border: 2px solid green;
}
.false {
  color: red;
  border: 2px solid red;
}

.mode-button {
  font-size: 30px;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.main-text {
  color: pink;
  font-size: 20px;
  align: center;
  text-align: center;
  width: 60%;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.word-is {
  align: center;
  font-size: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 2px solid grey;
}

.conjugation {
  /* align: center;*/
  /* text-align: center;*/
  padding: 3px;
  width: 60%;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.congujation-type {
  font-size: 26px;
}

.column {
  border: 1px solid grey;
  font-size: 26px;
  padding: 3px;
}
.row {
  border: 1px solid grey;
}

@media (max-width: 900px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  input {
    display: block;
  }
  label {
    display: block;
  }
  .conjugation {
    width: 95%;
    border: 2px solid grey;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    width: 90%;
  }
  td {
    font-size: 26px;
  }
}
